.model-details .row-4{
    margin-top: 20px;
    

}
.model-details .row-5{
    border: none;
    
}  

.paging {
    text-align: center;
}
h3{
    text-align: center;
}
/* *{
    text-align: center;
} */