{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
动漫
{% endblock %}
{% block content %}

<img class="img-responsive" src="{% static 'img/1650615370678.png' %} " width="1200px">
{% endblock %}
{% block content2 %}
<div class="container">
    <div class="row row-3">
        <div class="col-md-3">
            <div class="model-title">
                爱好
            </div>
            <div class="model-list">
                <ul class="list-group">
                    <li class="list-group-item " id="cartoon"><a href="{% url 'hobbyApp:cartoon' %}">动漫</a></li>
                    <li class="list-group-item " id="novel"><a href="{% url 'hobbyApp:novel' %}">小说</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <div class="model-details-title">
                小说
            </div>
            <div>
                <h4>《剑来》</h4>
                <p>简介：大千世界,无奇不有。我陈平安,唯有一剑,可搬山,倒海,降妖,镇魔,敕神,摘星,断江,摧城,开天!————我叫陈平安，平平安安的平安，我是一名剑客。</p>
            </div>
            <div>
                <h4>《我将埋葬众神》</h4>
                <p>简介：暴雨之夜，道门圣女追杀而来。宿命决战的尾声，神明于未知中降临，尘封的王朝向他们敞开——腐朽的大地深埋着不死的骸骨，幽冥的汪洋藏匿着狰狞的邪灵。人类修真者开宗立派，以铁铸的剑对抗世间的一切古老。少女于棺椁沉眠，少年于此间苏醒………………</p>
            </div>
            <div>
                <h4>《龙族》</h4>
                <p>简介：他以为他将这样度过一生，他以为他始终只是个衰小孩。但是，一封来自卡塞尔学院的录取通知书改变了他的一生。云层里透出神秘的吟唱：你也有神奇的父母，你也有热血的同伴，你的血管里流动着龙族的血液。而你的目标将是 —— 屠龙。</p>
            </div>
            <div>
                <h4>《永夜君王》</h4>
                <p>简介：千夜自困苦中崛起，在背叛中坠落。自此一个人，一把枪，行在永夜与黎明之间，却走出一段传奇。若永夜注定是他的命运，那他也要成为主宰的王。</p>
            </div>
            <div>
                <h4>《紫川》</h4>
                <p>简介：神话般的西川大陆，一代代的热血传奇。帝都，河丘，远京，蓝城，帕伊，特兰，每一座雄伟的城市，都有自己的英雄传说。人类、魔族、远东各族……血与火的交融，刀与剑的碰撞，迷与迷的交织，构成了庞大的史诗般的巨著--紫川。</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}