{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
逸闻详情
{% endblock %}

{% block content2 %}
<link href="{% static 'css/anecodote.css' %}" rel="stylesheet">
<!-- 主体内容 -->
<div class="container">
    <div class="model-details-product-title">
        {{anecodote1.title}}
        <div class="model-foot">发布时间：{{anecodote1.publishDate|date:"Y-m-d"}}&nbsp;&nbsp;浏览次数：{{anecodote1.views}}</div>
    </div>
    <div class="model-details">
       {{anecodote1.description|safe}}
    </div>
</div>
{% endblock %}